<h1>Word Ladder Game</h1>
<h3>Adam J. Penn</h3>
<% load "#{Rails.root}/lib/ladder.rb" %>

<%= form_tag(query_path, method: "get") do  %>
    <%@startWord = dictionary.sample%>
    <p>Start: <%=@startWord%><br>
    <% hidden_field_tag(:startWord, value = @startWord)%>
    Step 1: <%= text_field_tag(:step1) %><br>
    Step 2: <%= text_field_tag(:step2) %><br>
    Step 3: <%= text_field_tag(:step3) %><br>
    Step 4: <%= text_field_tag(:step4) %><br>
    Step 5: <%= text_field_tag(:step5) %><br>
    <%@endWord = dictionary.sample%>
    End: <%=@endWord%> 
    <% hidden_field_tag(:endWord, value = @endWord) %>
    <%= submit_tag("Try") %></p>
<% end %>
