<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2 style="color:#5e5e5e"><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul style="color:#5e5e5e">
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="color:#5e5e5e" class="field">
    <%= f.label :str %><br>
    <%= f.text_field :str %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
