<p id="notice"><%= notice %></p>

<p>
  <strong>Private:</strong>
  <%= @image.private %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag root_url + "/images/" + @image.filename, size: "600x600", alt: @image.filename %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
