<p id="notice"><%= notice %></p>

<p>
  <%= image_tag root_url + "/images/" + @image.filename, size: "400x400", alt: @image.filename %>
</p>

<p>
  <strong>Owner:</strong>
  <% @users.each do |user| %>
    <% if user.id == @image.user_id %>
      <%= user.name %>
    <% end %>
  <% end %>
</p>

<% if user_signed_in? && @image.user_id == current_user.id %>
  <%= link_to 'Edit', edit_image_path(@image) %>
  <hr>
  <strong>Tags:</strong><br>
  <% @tags.each do |tag| %>
    <% if tag.image_id == @image.id %>
      <%= tag.str %>
      <%= link_to 'Edit', edit_tag_path(tag) %> |
      <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br>
    <% end %>
  <% end %>
  <%= link_to 'New Tag', new_tag_path %>
  <hr>
  <strong>Shared with:</strong>

  <%= collection_select(:user, :id, @user, :name, :email, {:prompt => true}) %>

  <select name="Users">
    <option value=""selected>Please select</option>
    <% i = 0 %>
    <% @users.each do |user| %>
      <option value=<%user.id%> ><%=user.name+"  "+user.email%></option>
    <% end %>
  </select>
<% end %>
<hr>
<%= link_to 'Back', images_path %>
